header {
    display: flex;
    align-items: flex-end;
    padding: 15px 15px;
    gap: 36px;
    margin: 15px 15px;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 3px;
    box-shadow: 5px 5px lightgray;
  }
  
  .movie-card {
    width: 15%;
    max-width: 320px;
    margin: 15px 15px;
    padding: 15px 15px;
    text-align: center;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    box-shadow: 5px 5px lightgray;
  }
  
  .greeting {
    text-align: center;
  }
  
  .header-links-div {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
  
  .movie-poster {
    width: 150px;
  }
  
  .favorites-list {
    display: flex;
    column-gap: 12px;
    padding-top: 32px;
    overflow-x: auto;
    padding-top: 0;
  }
  
  .mat-card-title {
    grid-area: title;
    line-height: 1.2;
  }
  
  .mat-card-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
    grid-area: actions;
  }
  
  img {
    grid-area: img;
    object-fit: contain;
    align-self: center;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }
  
  .fav-icon:hover {
    cursor: pointer;
  }