.register-card {
    background-color: white;
    padding: 15px;
    margin: auto;
    border-radius: 3px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    box-shadow: 5px 5px lightgray
  }

  .register-button {
    opacity: 80%;
    transition: 0.3s;
  }
  
  .register-button:hover {
    opacity: 100%
  }